# ToDo Alle Vars beschreiben und in Readme aufnehmen

SERVER_HOST = "0.0.0.0"
SERVER_PORT = "8000"

CHROMADB_HOST = "localhost"
CHROMADB_PORT = "8000"
CHROMADB_COLLECTION = "mytickets"

API_KEY = "<use a secret API key>"

# RAG_K="3"
# RAG_FILTER="answer"
