# Parameter from this API server
################################
# Token to auth this API
AI_API_KEY=<use a secret API key>

# Optional, Ip address of this server inside the docker, default is "0.0.0.0"
AI_API_SERVER_HOST=0.0.0.0

# Optional: port of this server
AI_API_SERVER_PORT=8000


# Parameter for Vector Database
###############################
# Optional*: when DB runs with token you have to sepcify this value here
AI_VECTORDB_AUTH_TOKEN=test-token

# Optional: IP address of DB server, default is "http://localhost"
AI_VECTORDB_HOST=http://localhost

# Optional: port of DB server, default is 9200
AI_VECTORDB_PORT=9200

# Optional: collection/index name, default is "documents"
AI_VECTORSTORE_INDEX=documents


# Parameter for Llama
#####################
# Optional: token to auth the llm server
LLM_OTOBO_API_KEY="secret-to-use-otobo-ai-server"

# Optional: URL llama server, default is "http://localhost:11434" (can change in future)
LLM_OLLAMA_URL=http://localhost:11434

# Optional: llama model, default is llama2:13b-chat
LLM_OLLAMA_MODEL=llama2:13b-chat

# Optional: max tokens, default is "1024"
LLM_MAX_TOKENS=1024

# Optional: temperature (see llama doc), default is 0.1
LLM_TEMPERATURE=0.1

# Optional: use the local embedding model (see self.embedding_model_name) strongly recommended, otherwise use OllamaEmbedding
USE_LOCAL_EMBEDDING=True

# Optional: similarity threshold for filtering in rag compression, default=.75
SIMILARITY_THRESHOLD=0.75


# Optimization
##############
# Optional: number of embeddings to use for answering, default is top 3
RAG_K=3

# Optional: if set, only embeddings with this type parameter are used
RAG_FILTER=answer
