# Parameter from this API server
################################
# Token to auth this API
API_KEY = "<use a secret API key>"

# Optional, Ip address of this server inside the docker, default is "0.0.0.0"
SERVER_HOST = "0.0.0.0"

# Optional: port of this server
SERVER_PORT = "8000"


# Parameter for Chroma Database
###############################
# Optional*: when chroma runs with token you have to sepcify this value here
CHROMADB_API_KEY = "test-token"

# Optional: IP address of chroma server, default is "localhost"
CHROMADB_HOST = "localhost"

# Optional: port of chroma server, default is 8000
CHROMADB_PORT = "8000"

# Optional: collection name, default is "documents"
CHROMADB_COLLECTION = "documents"


# Parameter for Llama
#####################
# Optional: URL llama server, default is "http://localhost:11434" (can change in future)
LLM_OLLAMA_URL = "http://localhost:11434"

# Optional: llama model, default is llama2:13b
LLM_OLLAMA_MODEL=llama2:13b

# Optional: max tokens, default is "1024"
LLM_MAX_TOKENS = "1024"

# Optional: temperature (see llama doc), default is 0.1
LLM_TEMPERATURE = "0.1"

# Optional: similarity threshold for filtering in rag compression, default = 0.75
SIMILARITY_THRESHOLD=0.75


# Optimization
##############
# Optional: number of embeddings to use for answering, default is top 3
RAG_K = "3"

# Optional: if set, only embeddings with this type parameter are used
RAG_FILTER = "answer"
