# main dependencies
uvicorn==0.34.0
fastapi==0.115.12
loguru==0.7.3
langchain==0.3.21
langchain-community==0.3.20
langchain-ollama==0.3.0
langchain-experimental==0.3.4
langchain_chroma==0.2.2
langfuse==2.60.2
langgraph==0.3.21
chromadb==0.6.3
asyncpg==0.30.0

# critical compatibility fixes
numpy==1.26.4
pydantic-core==2.27.2

# dev dependencies (optional)
langchain-cli==0.0.36